<style>
  /**************************\
  Basic Modal Styles
\**************************/
  .custom_modal {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  }

  #modal-3 {
    display: none;
  }

  #modal-3.is-open {
    display: block;
  }

  .custom_modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  .custom_modal__container {
    background-color: #fff;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
    margin-bottom: 50px;
  }

  .custom_modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .custom_modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
  }

  .custom_modal__close {
    background: transparent;
    border: 0;
    font-size: 20px;
    color: #000000;
  }

  .custom_modal__header .custom_modal__close:before {
    content: "\2715";
  }

  .custom_modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
  }

  .custom_modal__btn {
    font-size: 20px;
    padding: 0.5rem 1rem;
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 0.25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  }

  .custom_modal__btn:focus,
  .custom_modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  .custom_modal__btn-primary {
    background-color: #00449e;
    color: #fff;
  }

  /**************************\
  Demo Animation Style
\**************************/
  @keyframes mmfadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes mmfadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes mmslideIn {
    from {
      transform: translateY(15%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes mmslideOut {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-10%);
    }
  }

  .micromodal-slide {
    display: none;
  }

  .micromodal-slide.is-open {
    display: block;
  }

  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn 0.3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut 0.3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }

  .first_order_title {
    text-align: center;
    font-weight: bold;
    color: #008000;
  }

  .first_order_description {
    text-align: center;
  }

  .first_order_content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .first_order_content h2 {
    margin: 5px;
  }

  .first_order_content h1 {
    font-weight: bold;
  }

  .first_order_content button {
    background-color: #008000;
  }
</style>

<!-- [1] -->
<div class="custom_modal micromodal-slide" id="modal-1" aria-hidden="true">
  <div class="custom_modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="custom_modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="custom_modal__header">
        <h2 class="custom_modal__title" id="modal-1-title">
          &nbsp;
        </h2>
        <button class="custom_modal__close" data-custom-close="modal-1" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="custom_modal__content" id="modal-1-content">
        <h2 class="first_order_title">FIRST ORDER 20% OFF!</h2>
        <p class="first_order_description">
          Signup and get 20% discount on your first order.
        </p>
        <div class="first_order_content">
          <h2>Use Discount Code</h2>
          <h1>FIRST2022</h1>
          <a href="/collections/all">
            <button class="custom_modal__btn custom_modal__btn-primary">SHOP NOW</button>
          </a>
        </div>
      </main>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>

<script type="text/javascript">
  let modalShown = localStorage.getItem("first_order_20_modal_shown");

// modalShown = null;

  if (! modalShown || modalShown !== "true") {
    MicroModal.init();
    MicroModal.show('modal-1'); // [1]
    localStorage.setItem("first_order_20_modal_shown", "true");
  }
</script>