<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100vh;">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 32px">
        <img 
            src="https://cdn.shopify.com/s/files/1/0550/3729/6706/files/oba-bakery-logo-and-copy_6e9d0f21-9574-416f-8b00-f3274dc6a1ac.png?v=1725309297" 
            width="438" 
            height="470" 
            alt="Logo" 
            loading="lazy"
        />
    </div>
    <span style="font-size: 64px; font-family: Verdana; color: #121212; text-align: center;">
        COMING SOON
    </span>
</div>