<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100vh;">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 32px">
        <img 
            src="https://cdn.shopify.com/s/files/1/0550/3729/6706/files/obabaklava_logo_opac_309x242_8afacd83-8296-4dda-a6e4-fe3a8eee06a2.png?v=1667788239" 
            width="309" 
            height="242" 
            alt="Logo" 
            loading="lazy"
        />
        <span style="font-size: 48px; font-family: Verdana; color: #121212; text-align: center;">BAKERY & CAFE</span>
    </div>
    <span style="font-size: 64px; font-family: Verdana; color: #121212; text-align: center;">
        COMING SOON
    </span>
</div>