<div class="page-width" style="padding-bottom: 50px">
  <div>
    <h1>
      <strong>Why Oba Baklava?</strong>
    </h1>
  </div>
  <div style="display: flex;">
    <div>
      <img src="{{ "always_fresh_183x175.png" | asset_url }}" style="width: 183px; heigth: 175px"/>
    </div>
    <div style="display: flex; flex: 1; align-items: center; padding-left: 20px">
      <h2>We are baking our products daily! We believe in fresh and original taste and not frozing any of our products.</h2>
    </div>
  </div>
  <div style="display: flex;">
    <div>
      <img src="{{ "hand_made_200x170.png" | asset_url }}" style="width: 200px; heigth: 170px"/>
    </div>
    <div style="display: flex; flex: 1; align-items: center; padding-left: 20px">
      <h2>We are baking our products with love, all of our products hand made to give them their wonderful taste and keep the quality at high level.</h2>
    </div>
  </div>
  <div style="display: flex;">
    <div>
      <img src="{{ "us_flag_150x147.png" | asset_url }}" style="width: 150px; heigth: 147px"/>
    </div>
    <div style="display: flex; flex: 1; align-items: center; padding-left: 20px">
      <h2>We are baking our products in the USA by using the best ingredients coming from Turkey, that means you are eating original and fresh products not frozen.</h2>
    </div>
  </div>
</div>