<div class="page-width">
  <div>
    <h1>
      <strong>Why Oba Baklava?</strong>
    </h1>
  </div>
  <div style="display: flex;">
    <div>
      <img src="{{ "always_fresh_183x175.png" | asset_url }}" style="width: 183px; heigth: 175px"/>
    </div>
    <div style="display: flex; flex: 1; align-items: center">Why always fresh explanation here</div>
  </div>
  <div style="display: flex;">
    <div style="display: flex; flex: 1; justify-content: flex-end; align-items: center">Why always fresh explanation here</div>
    <div>
      <img src="{{ "hand_made_200x170.png" | asset_url }}" style="width: 183px; heigth: 175px"/>
    </div>
  </div>
  <div style="display: flex;">
    <div>
      <img src="{{ "us_flag_150x147.png" | asset_url }}" style="width: 183px; heigth: 175px"/>
    </div>
    <div style="display: flex; flex: 1; align-items: center">Why always fresh explanation here</div>
  </div>
</div>