<style>
  .why-oba-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .why-oba-item {
    display: flex;
    border-bottom: 2px dashed #aaaaaa;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .why-oba-item__logo {
    display: flex;
    justify-content: center;
    width: 200px;
  }

  .why-oba-item__content {
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 20px
  }

  @media screen and (max-width: 749px) {
    .why-oba-item {
      flex-direction: column;
    }

    .why-oba-item__logo {
      flex: 1;
      width: 100%;
    }

    .why-oba-item__content {
      padding-left: 0;
    }
  }
</style>

<div class="page-width" class="why-oba-container">
  <div>
    <h1>
      <strong>Why Oba Baklava?</strong>
    </h1>
  </div>
  <div class="why-oba-item">
    <div class="why-oba-item__logo">
      <img src="{{ "always_fresh_168x166.png" | asset_url }}" style="width: 140px; height: 138px"/>
    </div>
    <div class="why-oba-item__content">
      <h2>We are baking our products daily! We believe in fresh and original taste and not frozing any of our products.</h2>
    </div>
  </div>
  <div class="why-oba-item">
    <div class="why-oba-item__logo">
      <img src="{{ "hand_made_158x135.png" | asset_url }}" style="width: 140px; height: 120px"/>
    </div>
    <div class="why-oba-item__content">
      <h2>We are baking our products with love, all of our products hand made to give them their wonderful taste and keep the quality at high level.</h2>
    </div>
  </div>
  <div class="why-oba-item">
    <div class="why-oba-item__logo">
      <img src="{{ "us_flag_150x147.png" | asset_url }}" style="width: 140px; height: 137px"/>
    </div>
    <div class="why-oba-item__content">
      <h2>We are baking our products in the USA by using the best ingredients coming from Turkey, that means you are eating original and fresh products not frozen.</h2>
    </div>
  </div>
</div>